[req]
default_bits = 2048
prompt = no
default_md = sha256
distinguished_name = dn

[dn]
ST=RandomState
L=RandomCity
O=RandomOrganization
OU=RandomOrganizationUnit
CN = localhost
emailAddress=lab7@example.com
